<template>
  <div class="main">
    <div class="text">
      <h2>{{ userInfo.user.name }}</h2>
      <el-button @click="logout()" type="danger">Logout</el-button>
    </div>
  </div>
</template>

<script>
import EventBus from "../EventBus";
export default {
  name: "Dashboard",
  data() {
    return {
      userInfo: {},
    };
  },
  created() {
    console.log("computed", this.checkIfIsLogged);
    if (this.checkIfIsLogged) {
    }
  },
  methods: {
    logout() {
      if (localStorage.getItem("userInfo")) {
        localStorage.removeItem("userInfo");
        this.$router.push("/");
      }
    },
  },
  computed: {
    checkIfIsLogged() {
      console.log(localStorage);
      let token = localStorage.getItem("userInfo");
      if (token) {
        EventBus.$emit("logged", "User logged");
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));
        return true;
      } else {
        console.log("yaha hu main");
        this.$router.push("/");
        return false;
      }
    },
  },
};
</script>

<style scoped>
.text {
  text-align: center;
  margin-top: 10%;
  font-size: 20px;
  font-style: Bold;
}
</style>
