<!DOCTYPE html>
<html>
  <head>
    <title>LoginFormApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "hello_vue" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
